.Proyectos{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
}

.Proyectos h2{
    text-align: center;
    margin-bottom: 30px;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.cards .card {
    width: 300px;
    height: auto;
    border: 2px solid #3f5efb;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.cards .card:hover {
   transform: translateY(-3px);
   -webkit-transform: translateY(-3px);
   -moz-transform: translateY(-3px);
   -ms-transform: translateY(-3px);
   -o-transform: translateY(-3px);
}

.cards .card img{
    border-radius: 6px 6px 0  0;
    -webkit-border-radius: 6px 6px 0  0;
    -moz-border-radius: 6px 6px 0  0;
    -ms-border-radius: 6px 6px 0  0;
    -o-border-radius: 6px 6px 0  0;
}

.cards .card h3{
    text-align: center;
}

.cards .card p{
    padding: 0 10px;
    font-weight: 600;
}

.cards .card .tecno{
    padding: 0 10px;
}



.cards .card .github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .card .github img{
    filter: invert(38%) sepia(74%) saturate(5469%) hue-rotate(225deg) brightness(100%) contrast(96%);
}

@media (max-width: 900px){
    .Proyectos{
        padding-bottom:16vh ;
    }
}