.navMobile {
    display: none;
}

.header{
    background: linear-gradient(90deg, #fba33f, #46e1fc);
    position: sticky;
    top: 0;
    z-index: 99;
    width: 85%;
    height: 8vh;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav a {
   font-size: 1.3rem;
   text-decoration: none;
   color: black;
   font-weight: 600;
}

span{
    background: linear-gradient(180deg, #3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    font-size: 1.7rem;
    font-weight: 700;

}

@media (max-width: 900px){
    .nav{
        display: none;
    }

    .navMobile{
        background: linear-gradient(90deg,rgb(159, 222, 203),rgb(209, 74, 12));
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        height: 8vh;
        border: 2px solid  rgb(223, 182, 3, 1);
        border-radius: 7px;
        margin-bottom: 5px;
        position: absolute;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navMobile a{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .navMobile a img {
        filter: invert(48%) sepia(100%) saturate(5471%) hue-rotate(224deg) brightness(100%) contrast(98%);
    }

    .header{
        display: flex;
        justify-content: space-between;
    }
}