.Redes{
    width: 100%;
    height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

}

.Redes img{
  filter: invert(29%) sepia(90%) saturate(1345%) hue-rotate(214deg) brightness(101%) contrast(100%);

}