.Inicio{
    width: 85%;
    height: 92vh;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}
h1, h2 {
    background: linear-gradient(270deg, #3f5efb, #fc466b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full{
    z-index: 9;
  max-width: 420px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full h1{
    font-size: 3rem;
}

.full p{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing:1px;
}

.full .adornos{
    display: flex;
    gap: 5px;
}

.full .adornos div {
    background: linear-gradient(180deg, #3f5efb, #fc466b);
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.botones{
    max-width: 420px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.botones h2{
    font-size: 3rem;
    font-weight: 700;
}

.botones div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.botones div a {
    color: #fc466b;
    width: 140px;
    height: 45px;
    text-decoration: none;
    font-size: 1.3rem;
    border: 2px solid #fc466b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}

.botones div a:hover{
    transition:all 0.2s ease-in-out;
    background:linear-gradient(180deg, #fba33f, #46e1fc) ;
    color: white;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}

@media (max-width: 900px){
    .Inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full{
        height: auto;
    }
    .botones{
        display: none;
    }

}